<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name = "viewport" content = "width-device-width">
		<meta name = "author" content = "Max Westerlund">
		<title>Grillkol's Scripting Portfolio</title>
		<link rel="icon" type="image/x-icon" href="../misc/favicon.ico">
		<link rel = " stylesheet" href = "../static/css/style.css">
	</head>
	<body>
		<header>
			<div class = "container">
				<div id = "branding">
					<h1>Grillkol's scripting portfolio</h1>
				</div>
				<nav>
					<ul>
						<li><a href = "portfolio">Home</a></li>
						<li class = "current"><a href = "works">Works</a></li>
					</ul>
				</nav>
			</div>
		</header>
		<section id = "works">
			<div class = "container">
				<h1>My Past Works</h1>
				<hr>  
				<h3>An open world survival game (currently working on)</h3>
				<p>This game showcases my skills in:</p>
				<ul>
					<li>Scripting a game and its frameworks from scratch</li>
					<li>Scripting procedural terrain generation</li>
					<li>Scripting inventory systems and guis</li>
					<li>Working with advanced datastores systems</li>
					<li>Scripting gamepasses and developer products</li>
					<li>Creating a gameplay loop</li>
					<div class = "gamebox">
						<img src = "../static/img/bonk.png">
						<div class="gamebox-text">
							<a href = "https://www.roblox.com/games/10376141995/Bonk">Bonk</a>
							<p>An open-world survival game where you can explore, craft, build bases and gather resources. </p>
						</div>
					</div>
				</ul>
			</div>
			<div class = "container">
				<br>
				<hr>
				<br>
				<h3>A voxel based terrain generation project</h3>
				<p>This game showcases my skills in:</p>
				<ul>
					<li>Scripting a game and its frameworks from scratch</li>
					<li>Scripting procedural terrain generation</li>
					<li>Using and scripting tables</li>
					<li>Recreating well known systems like minecraft</li>
					<div class = "gamebox">
						<img src = "../static/img/mincraf.png">
						<div class="gamebox-text">
							<a href = "https://www.roblox.com/games/12946444564/funny-block-gaem">funny block gaem</a>
							<p>voxel based block game test.</p>
						</div>
					</div>
				</ul>
			</div>
			<div class = "container">
				<br>
				<hr>
				<br>
				<h3>Cooking system commission</h3>
				<p>This showcases my skills in:</p>
				<ul>
					<li>Scripting stuff in a small amount of time to other peoples likings</li>
					<li>Making systems that are compatible with already in place systems</li>
					<div class = "gamebox">
						<img src = "../static/img/cookingsystem.png">
						<div class="gamebox-text">
							<a href = "https://www.roblox.com/games/13195811376/Cooking-System">Cooking System</a>
							<p>A commission for lowkeys diner</p> <a href = "https://youtu.be/-QgztwHiH9Y">Youtube Example</a>
						</div>
					</div>
				</ul>
			</div>
		</section>
		<footer>
			<p>Made by grillkol on discord</p>
		</footer>
	</body>
</html>